/* Reset some default styles for a clean slate */
body, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    color: #000;
    font-family: Arial, sans-serif;
}

.bgSizeCover {
    background-image: url('homepage.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh; /* 100% of viewport height */

}

header {
    background-color: #a9a9a9;
    color: #ffffff; 
    padding: 10px 0;
}

.top-bar h2 {
    margin: 0; /* Remove margin for better alignment */
    line-height: 40px; /* Adjust this value to match the height of your top bar */
    vertical-align: middle; /* Vertical alignment */
    text-align: center; /* Center the text within the <h2> */
    margin: 0 auto; /* Set left and right margin to auto for horizontal centering */
}

.menu {
    text-align: center; /* Center-align the menu buttons */
}

.menu ul {
    list-style: none;
    display: inline; /* Make the menu buttons inline elements */
}

.menu ul li {
    display: inline; /* Display the menu items inline */
    margin: 0 10px; /* Add some spacing between menu items */
}

.menu-button {
    background-color: transparent;
    border: 1px solid #ffffff; /* White button edge */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.menu-button:hover {
    background-color: #bebebe; /* Button background color on hover */
    border: none; /* Remove the border on hover */
}



